.welcome{
	display: flex;
	justify-content: center;
}
.welcome-container{
	border: solid 3px;
	border-radius: 5px;
	border-color: silver;
	display: inline-block;
	padding: 10px;
	height: auto;
	width: auto;
	box-sizing: border-box;
}
.inside-container{
	color: white;
	background-color: black;
}